<% include ../partials/header %>
    <div class="container">
        <h2 style="text-align: center">Add a new image!!</h2>
        <div style="width:30%; margin:30px auto;">
            <form action="/panthera" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="image url">
                </div>
                <!--<div class="form-group">
                    <label for="location">Location</label>
                    <input class="form-control" type="text" name="location" id="location" placeholder="Kolkata, Delhi, Bombay">
                </div>-->
                <div class="form-group">
                    <input class="form-control" type="text" name="desc" placeholder="description">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!!</button>
                </div>
            </form>
            <a href="/panthera">Go Back!</a>
        </div>
       
    </div>
<% include ../partials/footer %>