<% include ./partials/header %>

    <div class="container">
        
        <h2 style="text-align: center">Sign Up!</h2>
        <div style="width:30%; margin:30px auto;">
            <form action="/register" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="firstName" placeholder="First Name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="lastName" placeholder="Second Name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="Image URL">
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="aboutMe" placeholder="About Me">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="isAdminCode" placeholder="SecretCode">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/panthera">Go Back!</a>
            <a class="pull-right" href="/login">Login</a>
        </div>
       
    </div>

<% include ./partials/footer %>